.productPage__wrapper {
  display: flex;
  justify-content: center;
  padding-top: 20vh;
  padding-bottom: 5vh;
}

.productPage__container {
  width: 85vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5vh;
}

.productPage__info {
  width: 100%;
  display: flex;
}

.productPage__display {
  display: flex;
  margin-right: 5vw;
}

.productPage__product-colors {
  width: 50px;
  display: flex;
  flex-direction: column;
}

.productPage__product-color:nth-child(1) {
  background-color: white;
}

.productPage__product-color:nth-child(2) {
  background-color: gray;
}

.productPage__product-color:nth-child(3) {
  background-color: black;
}

.productPage__product-color:nth-child(4) {
  background-color: red;
}

.productPage__product-color:nth-child(5) {
  background-color: blue;
}

.productPage__product-color:nth-child(6) {
  background-color: green;
}

.productPage__product-color {
  width: 20px;
  height: 20px;
  border: 3px solid lightgray;
  padding: 2px;
  border-radius: 20px;
  margin-bottom: 2px;
}

.productPage__product-img1 {
  width: 300px;
  height: 400px;
  background-image: url(/assets/imgs/box2.png);
  background-position: center;
  background-size: 85%;
  background-repeat: no-repeat;
  border: 2.5px solid #e4aca5;
  margin-right: 3vw;
}

.productPage__product-options {

}

.productPage__options-sizes {
  display: flex;
  align-items: baseline;
}

.productPage__product-option {
  margin: 0 3px 30px 0;
  font-size: 18px;
}

.productPage__product-size {
  height: 20px;
  border: 1px solid lightgray;
  padding: 2px;
  border-radius: 2px;
  margin: 2px;
  cursor: pointer;
}

.productPage__options-quantity {
  display: flex;
}

.productPage__options-quantity-counter input, .productPage__options-quantity-counter button {
  width: 30px;
  height: 20px;
  text-align: center;
  border: none;
  font-size: 15px;
}

.productPage__options-quantity-counter input {
  width: 35px;
}

.productPage__options-quantity-counter button, .productPage__options-btn {
  cursor: pointer;
}

.productPage__options-quantity .productPage__product-option {
  margin-right: 20px;
}

.productPage__options-btns button {
  border: none;
  height: 35px;
  margin-right: 5px;
}

.productPage__product-size:hover, .productPage__options-quantity-counter button:hover, .productPage__options-btn:hover {
  background-color: #ff3838
}



/*=============*/


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */

.se-gf {
  display: flex;
  flex-direction: column!important;
}

.m-span00x textarea{
  outline: none;
  min-height: 500px
}

.ui.small.button, .ui.small.buttons .button, .ui.small.buttons .or {
    font-size: .92857143rem;
    line-height: 0px;
}

.modal__content {
  padding: 15px 0
}

.ui.form .field .ui.input input, .ui.form .fields .field .ui.input input {
  outline: none;
  border: none;
}

.modal__textarea > textarea {
  min-height: 10vh!important;
}

body > div.ui.page.modals.dimmer.transition.visible.active > div {
  height: auto!important;
}
