.footer {
  display: flex;
  justify-content: center;
  background: #222222;
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

.footer__ltd {
  color: white;
}

.footer__title {
  color: #656565;
}
