.designerProfile__container{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.designerProfile__header{
  width: 85vw;
  min-height: fit-content;
  display: flex;
  padding-top: 25vh;
}

.designerProfile__picture{
  background-image: url('/assets/imgs/des1.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 170px;
  width: 170px;
  border-radius: 50%;
  border: 3px solid lightgray;
  margin-right: 2vw;
}

.designerProfile__info{
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.designerProfile__rate-stars{
  background-image: url(/assets/imgs/profile-rate.png);
  background-size: contain;
  background-repeat: repeat-x;
  background-position: 23px;
  width: 112px;
  height: 22px;
}

.designerProfile__rate{
  display: flex;
  line-height: 26px;
}

.designerProfile__samples {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 5vh;
  font-size: 20px;
  min-height: fit-content;
  padding-top: 2vh;
}

.designerProfile__samples-row {
  display: flex;
  justify-content: space-between;
  width: 85vw;
  margin-bottom: 5vh;
}

.designerProfile__sample {
  width: 250px;
  height: 300px;
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
  transition: all 0.3s;
}

.dp_s1:nth-child(1) {
  background-image: url('/assets/imgs/dress1.jpg');
}

.dp_s1:nth-child(2) {
  background-image: url('/assets/imgs/dress2.jpg');
}

.dp_s1:nth-child(3) {
  background-image: url('/assets/imgs/dress3.jpg');
}

.dp_s1:nth-child(4) {
  background-image: url('/assets/imgs/dress4.jpg');
}

.dp_s2:nth-child(1) {
  background-image: url('/assets/imgs/dress5.jpg');
}

.dp_s2:nth-child(2) {
  background-image: url('/assets/imgs/dress6.jpg');
}

.dp_s2:nth-child(3) {
  background-image: url('/assets/imgs/dress7.png');
}

.dp_s2:nth-child(4) {
  background-image: url('/assets/imgs/dress8.png');
}

.designerProfile__sample:hover {
  transform: scale(1.1);
}

.designerProfile__sample p {
  height: 50px;
  width: 250px;
  background-color: rgba(211, 211, 211, 0.5);
  color: rgb(36, 41, 53);
  text-align: center;
  line-height: 50px;
  margin: 0;
}
